html, body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #f8f8f8;

}

.logo {
    width: 200px;
    height: auto;
    margin-left: 3rem;
    margin-top: 2rem;
    opacity: 0;
    transform: scale(0.8);
    animation: logoFadeIn 1.5s ease-out forwards;
}

@keyframes logoFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.topnav {
  background-color: #77d2f8;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: flex-start; /* Τα links πάνε αριστερά */
  align-items: center;         
  padding: 5px;
  border-radius: 8px;          
}

.topnav a {
  text-align: center;
  display: inline-block;
  color: #000000;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 1rem;
  margin-right: 2rem;
  transition: background 0.3s ease;
}

.topnav a:hover {
  background-color: #fff;
  border-radius: 4px;
}


.topnav a:hover {
  background-color: #fff;
  border-radius: 4px;
}


span {
    color: rgb(218, 213, 213);
}

h1 {
    display: inline-block;
    width: fit-content;       /* Περιορίζει το πλάτος στο κείμενο */
    background-color: #d0d2d3;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 2rem 2rem 1rem 10rem;
    border: 1px solid #000;
}
.contact-form {
    width: 40%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #77d2f8;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #5cc2eb;
}

#captcha {
    margin-left: auto;
    margin-right: auto;
}