{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'w1sales/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <footer>
        <div class="container">
            <div class="footer-columns">
                <div class="footer-column">
                    <h3>What we offer</h3>
                    <p>We provide quality furniture and home appliances at affordable prices, 
                        including beds, wardrobes, sofas, dining sets, fridges, washing machines, 
                        and electric cookers. Enjoy fast same-day or next-day delivery across London 
                        with reliable service and great value for every home.</p>
                </div>
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contacts</h3>
                    <ul>
                        <li><a href="mailto:chriskash@gmail.com">Email: chriskash@gmail.com</a></li>
                        <li><a href="tel:0044-07527210909">Phone UK: 0044-07527210909</a></li>
                        <li>
                            <a href="https://www.google.com/maps/search/?api=1&query=91+Myddleton+Road,+London,+N22+8NE,+United+Kingdom" target="_blank" rel="noopener noreferrer">
                            <img src="https://res.cloudinary.com/hotitu8ux/image/upload/v1752156587/map_cgbaty.png" title="location icons" alt="Map Icon" width="20" height="20" style="vertical-align: middle; margin-right: 5px;">
                            91 Myddleton Road, London, N22 8NE, United Kingdom
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="social-icons">
                <a href="#" target="_blank">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-instagram"style="font-size:24px;color:red"></i> Instagram
                </a>
            </div>
            <p>&copy; 2025 W1 Services. All rights reserved. <br> This site was created by C.P Software Creation.</p>
        </div>
    </footer>
</body>
