{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'w1sales/our_product.css' %}">
    <title>Products</title>
</head>
<body>
    <img class='logo' src="https://res.cloudinary.com/htyiufnla/image/upload/v1753800919/ChatGPT_Image_Jul_29_2025_05_54_59_PM_f9dtol.png" alt="My Logo">
    <div class="topnav">
        <a href="{% url 'w1sales:about_us' %}"><span><i class="fa fa-info-circle"></span></i> About Us</a>
        <a href="{% url 'w1sales:services' %}"><span><i class="fa fa-cogs"></span></i> Services</a>
        <a href="{% url 'w1sales:our_products' %}"><span><i class="fa fa-th-large"></span></i> Products</a>
        <a href="#store"><span><i class="fa fa-shopping-cart"></span></i> Online Store</a>
        <a href="{% url 'w1sales:contact_us' %}"><span><i class="fa fa-envelope"></span></i> Contact Us</a>
    </div>
    <div>
    <h1>Our Products</h1>
    <div class="products-container">
        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753873810/small_sh_kfgqyu.png" alt="Product 1" class="product-image">
            <h2 class="product-title">5-Drawer Wooden Chest</h2>
            <p class="product-description">Wooden chest of drawers with five spacious drawers and sleek silver handles, ideal for bedroom or office storage.</p>
            <!--<p class="product-price"></p>-->
        </div>

        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753875256/two_door_i8zkj5.png" alt="Product 2" class="product-image custom-size">
            <h2 class="product-title">2-Door Wooden Wardrobe</h2>
            <p class="product-description">Spacious wooden wardrobe with two doors and sleek silver handles, perfect for bedroom clothing storage.</p>
            <!--<p class="product-price"></p>-->
        </div>

        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753964935/table_chaires_lid7o9.png" alt="Product 3" class="product-image custom-size3">
            <h2 class="product-title3">Modern Dining Set – Table & Chairs</h2>
            <p class="product-description">Elegant dining set featuring a wooden table with metal legs and four matching chairs. Perfect for compact dining spaces with a modern touch.</p>
            <!--<p class="product-price"></p>-->
        </div>

        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753965787/ChatGPT_Image_Jul_31__2025__01_42_32_PM-removebg-preview_yzgnub.png" alt="Product 1" class="product-image custom-size4">
            <h2 class="product-title">Black Leather Sofa Sets</h2>
            <p class="product-description">Stylish and comfortable black leather sofa set including a three-seater, a two-seater, and a single armchair. Perfect for adding a modern and elegant touch to your living room.</p>
            <!--<p class="product-price"></p>-->
        </div>

        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753966560/ChatGPT_Image_Jul_31__2025__01_55_02_PM-removebg-preview_eld5tu.png" alt="Product 1" class="product-image custom-size5">
            <h2 class="product-title">Deep Quilted Double Bed</h2>
            <p class="product-description">Comfortable deep quilted double bed with a soft mattress and sturdy base. Designed for excellent support and a restful night’s sleep, perfect for any modern bedroom.</p>
            <!--<p class="product-price"></p>-->
        </div>

        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753986591/ChatGPT_Image_Jul_31__2025__07_27_55_PM-removebg-preview_o8we5m.png" alt="Product 1" class="product-image custom-size6">
            <h2 class="product-title">Crown Orthopedic Bed/Double Base/Mattress</h2>
            <p class="product-description">High-quality quilted double sizes mattress designed for maximum comfort and support. Featuring a soft, breathable fabric and durable construction for a restful sleep experience.</p>
            <!--<p class="product-price"></p>-->
        </div>

        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753968018/washing-removebg-preview_1_trqhic.png" alt="Product 1" class="product-image custom-size8">
            <h2 class="product-title">Modern Washing Machine</h2>
            <p class="product-description">Efficient washing machine with multiple wash programs and energy-saving technology. Designed for powerful cleaning performance while being gentle on fabrics, making laundry care effortless and reliable.</p>
            <!--<p class="product-price"></p>-->
        </div>

        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753969149/fridge-removebg-preview_y16yck.png" alt="Product 1" class="product-image custom-size">
            <h2 class="product-title">Double-Door Refrigerator</h2>
            <p class="product-description">Spacious and energy-efficient double-door refrigerator designed for modern kitchens. Features a large cooling section and a top freezer, providing excellent food preservation and organization. Sleek white finish for a clean, timeless look.</p>
            <!--<p class="product-price"></p>-->
        </div>
        
        <div class="product-card">
            <img src="https://res.cloudinary.com/htyiufnla/image/upload/v1753988060/ChatGPT_Image_Jul_31__2025__07_53_56_PM-removebg-preview_n8htos.pnghttps://res.cloudinary.com/htyiufnla/image/upload/v1753988060/ChatGPT_Image_Jul_31__2025__07_53_56_PM-removebg-preview_n8htos.png">
            <h2 class="product-title">IceKing RK113EW Undercounter Icebox Fridge</h2>
            <p class="product-description">Compact and efficient undercounter fridge with integrated icebox. Offers a 70L fresh storage capacity and 11L icebox compartment. Measuring H850 × W480 × D500 mm, it’s ideal for small kitchens, offices, or extra storage needs.</p>
            <!--<p class="product-price"></p>-->
        </div>
    </div>
    {% include "footer.html" %}  
</body>

</html>
