{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'w1sales/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'w1sales/services.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About_us</title>
</head>
<body>
    <img class='logo' src="{{ mylogo }}" alt="My Logo">
    <div class="topnav">
        <a href="{% url 'w1sales:about_us' %}"><span><i class="fa fa-info-circle"></span></i> About Us</a>
        <a href="{% url 'w1sales:services' %}"><span><i class="fa fa-cogs"></span></i> Services</a>
        <a href="{% url 'w1sales:our_products' %}"><span><i class="fa fa-th-large"></span></i> Products</a>
        <a href="{% url 'w1sales:contact_us' %}"><span><i class="fa fa-envelope"></span></i> Contact Us</a>
    </div>
    <h1>🛠️ Our Services </h1>
    <p>At W1 Services, we provide a comprehensive range of solutions tailored to meet the needs 
        of households and businesses. As an official DHL Pick-Up Point, we offer convenient parcel 
        collection and drop-off services, ensuring fast and reliable handling for our customers. 
        Our house removals service makes moving stress-free and efficient, while our painting, 
        plastering, and repair solutions deliver high-quality finishes that transform and maintain 
        your home.</p>
    <p>We also supply budget and medium-range furniture, including dining sets, sofas, 
        beds, and mattresses, with free delivery available across Central and North London. 
        For tenants and landlords, our end-of-tenancy cleaning services guarantee a thorough, 
        deep clean that restores properties to excellent condition.</p>
    <p>Our professional building services include everything from extensions, new builds, 
        and loft conversions to renovations, decorating, electrical, and plumbing works, providing 
        complete support for home improvement projects. In addition, we specialize in emergency 
        services, offering quick and certified solutions for plumbing and electrical safety, rubbish 
        clearance, demolition, gardening and fencing, HMO compliance, as well as fire extinguishers 
        and alarm installations.</p>
    <p>With W1 Services, you benefit from a reliable, skilled team committed 
        to delivering high-quality, cost-effective solutions to meet all your home and business 
        service needs.</p>
</body>
{% include "footer.html" %}
</html>