html, body {
    font-size: 20px;
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color: #f8f8f8;

}

.logo {
    width: 200px;
    height: auto;
    margin-left: 2rem;
    margin-top: 2rem;
    opacity: 0;
    transform: scale(0.8);
    animation: logoFadeIn 1.5s ease-out forwards;
}

@keyframes logoFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}